*::before,   
*::after {   
  box-sizing: border-box;   
}   
   
html, 
 body {  
  height: 100%;  
  margin: 0;  
  padding: 0;  
  font-size: 120%;  
  min-width: 50%;  
  max-width: none;  
}  
   
body   
{  
  background-color: #fff;  
  text-align: center;  
} 

/* header content with a background picture*/
.header-content
{
    height: 30em;
    width: 80em;
    background-image: url("../images/8cGbezaXi.jpg");
    background-size: cover;
    object-fit: cover;
    position: sticky;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    z-index: 20;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    color: white;
}

/* title web site*/
.header-content h1
{
    font-size: 10rem;
    text-shadow: 5px 5px 10px  black;
}

/* input css hint text color*/
.input-text::placeholder
{
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0.5;
}

/* submit button */
.button-submit
 {
    margin: 10px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    background-color: rgb(9, 38, 202);
    color: white;
    border-radius: 8px;
 }

 /* hover the button submit behaviour*/
 .button-submit:hover 
 {
    box-shadow: 1px 1px #301c15;
    background-color: rgb(10, 139, 161);
    border: 2px solid rgb(0, 161, 236);
    transition: all;
 }

/* game table stats layout*/
.game-table-stats
{
    font: .8em sans-serif;
    border: 2px solid gray;
    display: flex;
    height: 200px;
    width: 500px;
    align-items: center;
    margin-bottom: 0.5rem;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
}


/* footer layout to center the text*/
.footer-layout
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: stretch;
}